<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/dashgum-style.css">
  <link rel="stylesheet" href="/stylesheets/dashgum-style-responsive.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script src="/javascripts/web3.min.js"></script>  
  <script src="/javascripts/web3-integration.js"></script>  
</head>
<body>

<section id="container">
  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">       
    <a class="navbar-brand" href="#">
      <img src="/images/etherwave-logo.png" class="img-circle" width="30">
    </a>
    <!--logo start-->
    <a href="/" class="logo"><b>Etherwave</b></a>
    <!--logo end-->
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>   
          <span class="icon-bar"></span>                       
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/admin/ticket">My Tickets</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>  
  <!--header end-->
  <div class="parallax">  
    <div class="image-title">
      <p>Buy or trade concert tickets on Ethereum</p>
    </div>
    <!-- <div class="filter-box">
        <input id="search-bar" type="text" name="search" placeholder="Search for concerts...">
    </div> -->
  </div>

  <div class="container text-center"> 
    <h3>UPCOMING EVENTS</h3><br>
    <div class="row">
      <div class="col-sm-6 col-md-4" >
        <div class="thumbnail" id="events"></div>
              <div class="row">
                <div class="col-sm-12 text-center" id="buttontype"></div>
              </div>
            </div>
          </div>
      </div>
  <br>  
  <div class="parallax"></div>
    
  <footer class="container-fluid text-center">
      <p>Copyright © 2018 Etherwave</p>
  </footer>
</section>

<script src="/javascripts/dashgum-scripts.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/abi.js"></script>
<!--<script src="../javascripts/contracts.js"></script>-->
</body>
</html>
