<!DOCTYPE html>
<html>

<head>
	<title>EtherWave</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
</head>

<style>
	#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}
</style>

<body>
			
	<div id="qrcode"></div>

<script type="text/javascript" src="javascripts/qrcode.min.js">
new QRCode(document.getElementById("qrcode"), "http://jindo.dev.naver.com/collie");
</script>

</body>
</html>