<!DOCTYPE html>
<html>

<head>
	<title>EtherWave</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/qrcode.min.js"></script>
</head>

<style>
	#qrcode {
	  width:160px;
	  height:160px;
	  margin-top:15px;
	  position: relative;
	  left: 500px;
	  top: 100px;
	}
	#text {
	  display: block;
	  width: 80%;
	}
	h1 {
		position: relative;
	  left: 525px;
	  top: 200px;	
	}
</style>

<body>
	<input id="text" type="hidden" value="http://localhost:3000/{ticket_id}" />
	<div id="qrcode"></div>
	<h1>Your QR Code</h1>
	<script type="text/javascript" src="../javascripts/qr-page.js"></script>
</body>
</html>
