body {
    background-color: #f2f2f2 !important;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

/* EVENT DETAIL */
.event-page>div {
    background-color: #fff;
}

.event-detail>h1 {
    text-transform: uppercase;
}
.btn-purchase {
    margin-top: 15px;
}

.content {
    height: 800px;
}
